body {
    margin: 0;
    padding: 0;
    background-color: #333;
    min-height: 100vh;
}

h2 {
    font-size: 30px;
}

.container {
    display: flex;
}

.left {
    flex: 1;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.left-login {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url('/assets/Screenshot 2025-11-06 225145.png');
}

.left-signup {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url('/assets/Screenshot 2025-11-10 205252.png');
        
}

.left h1 {
    margin: 0;
}

.right {
    color: #e0e0e0;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
    min-width: 50vw;
}

.logo {
    width: 100px;
    height: 100px;
    animation: rock 2s ease-in-out infinite alternate;
}

@keyframes rock {
    from {
        transform: rotate(15deg);
    }

    to {
        transform: rotate(-15deg);
    }
}

.login-button {
    font-size: 20px;
    width: 50%;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    background-color: #DC143C;
    color: #eee;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: 150ms ease;
}

.login-button:hover {
    background-color: #A10F2C;
}

input {
    font-size: 20px;
    width: 50%;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    padding: 10px;
    outline: none;
    background-color: #333;
    caret-color: #e0e0e0;
    color: #e0e0e0;
}

::placeholder {
    color: #888;
}