.profileContainer {
    background-color: #eee;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.bannerShadow {
    width: 80%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.profileBanner {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 0 0 15px 15px;
}

.profileBackground {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.profileIcon {
    width: 120px;
    height: 120px;
}

.profileName {
    width: 15%;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.activityContainer {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 70vh;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profileButtonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 80%;
}

.profileButton {
    background-color: #DC143C;
    color: white;
    font-size: 20px;
    width: 30%;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: 150ms ease;
}

.profileButton:hover {
    background-color: #A10F2C;
}