.achievements-main {
    padding: 20px;
    flex-direction: column;
}

.achievements-header {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.achievements-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.achievement-card {
    width: 150px;
    height: 180px;
    padding: 6px;
    border: 2px solid red;
    border-radius: 12px;
    text-align: center;
    color: white;
    background: black;
}

.achievement-image {
    width: 50px;
    height: 50px;
    margin-bottom: 3px;
}

.achievement-description {
    font-size: 13px;
}

.achievement-title {
    font-size: 15px;
}

.no-achievements {
   text-align: center;
   color: white;
   font-size: 17px;
}