.navbar-main {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: white;
}

.navbar-button {
    padding: 4px 12px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    width: auto;
}

.navbar-button:hover {
    cursor: pointer;
}

.token{
   position: absolute;
   top: 10px;
   right: 20px;
   display: flex;
   align-items: center;
   color: white;
   padding: 5px 10px;
}

.tokenimage{
  width: 45px;
  height: 45px;
}

.count {
   font-size: 16px;
}

