.pokedex-selection-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    background-color: white;


}

.pokemon-selection-box {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
    width: 120px;
    height: 124px;
    box-shadow: 1px 1px 4px hsl(0, 0%, 70%);
}

.pokemon-selection-number {
    color: yellow;
    font-size: 8px;
    margin-left: auto;
}

pokemon-selection-sprite {
    overflow: hidden;
    object-fit: contain;
}

.pokemon-selection-name {
    font-size: 10px;
    text-align: center;
}

.pokemon-selection-box:hover {
    cursor: pointer;
}


.inner
{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.pokemon-selection-box.flipped .inner
{
  transform: rotateY(180deg);
}

.front,.back
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.front img {
    filter: brightness(0.05) contrast(0.2);
    opacity: 0.2;
    transform: scale(1.1);
}

.back
{
  transform: rotateY(180deg);
  background: white;
}


.button {
  width: auto;
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

