.pokemon-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B8B8B8;
    padding-top: 16px;
}



.pokemon-details-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.pokemon-details-name {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.pokemon-details-number {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.pokemon-details-about {
    margin-top: 20px;
}

.pokemon-details-upper {
    display: flex;
    align-items: center;
    gap: 40px;
    z-index: 2;
}

.pokemon-sprite {
     /* filter: brightness(0) saturate(100%) invert(45%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%); */
     width: 280px;
}

.pokemon-details-lower-inner {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: inset 0px 0px 8px gray;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    position: relative;
    margin-top: -12px;
    padding: 20px;
}

.pokemon-details-types {
    display: flex;
}

.pokemon-details-type {
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    padding: 4px 16px;
    margin: 0 4px;
}

.pokemon-details-info-container {
    display: flex;
    align-items: center;
}

.pokemon-details-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 32px;
    font-size: 14px;
}

.pokemon-details-info-border {
    width: 1px;
    height: 60px;
    background-color: #E0E0E0;
}

.pokemon-details-values {
    display: flex;
    align-items: center;
    gap: 4px;
}

.pokemon-details-description {
    font-size: 14px;
}

.pokemon-details-all-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.pokemon-details-stat {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
}

.pokemon-details-stat-labels {
    text-align: right;
}

.pokemon-details-stat-right {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.pokemon-details-border {
    background-color: #E0E0E0;
    height: 132px;
    width: 1px;
}

.pokemon-details-stat-line {
    background-color: #B8B8B8;
    width: 240px;
    height: 4px;
    border-radius: 4px;
}

.subtitle-1 {
    color: #B8B8B8;
    font-weight: bold;
    font-size: 20px;
}

.subtitle-2 {
    font-weight: bold;
    font-size: 18px;
}

.subtitle-3 {
    color: #B8B8B8;
    font-size: 14px;
    font-weight: bold;
}

.caption {
    font-size: 12px;
    color: #666666;
}

.arrow-back {
    color: white;
    font-size: 48px;
}

.chevron {
    color: white;
    font-size: 40px;
}

.arrow-back, .chevron {
    cursor: pointer;
}

/* Normal */
.pokemon-details-container--normal {
  background-color: #a8a77a;
}

/* Fire */
.pokemon-details-container--fire {
  background-color: #ee8130;
}

/* Water */
.pokemon-details-container--water {
  background-color: #6390f0;
}

/* Electric */
.pokemon-details-container--electric {
  background-color: #f7d02c;
}

/* Grass */
.pokemon-details-container--grass {
  background-color: #7ac74c;
}

/* Ice */
.pokemon-details-container--ice {
  background-color: #96d9d6;
}

/* Fighting */
.pokemon-details-container--fighting {
  background-color: #c22e28;
}

/* Poison */
.pokemon-details-container--poison {
  background-color: #a33ea1;
}

/* Ground */
.pokemon-details-container--ground {
  background-color: #e2bf65;
}

/* Flying */
.pokemon-details-container--flying {
  background-color: #a98ff3;
}

/* Psychic */
.pokemon-details-container--psychic {
  background-color: #f95587;
}

/* Bug */
.pokemon-details-container--bug {
  background-color: #a6b91a;
}

/* Rock */
.pokemon-details-container--rock {
  background-color: #b6a136;
}

/* Ghost */
.pokemon-details-container--ghost {
  background-color: #735797;
}

/* Dragon */
.pokemon-details-container--dragon {
  background-color: #6f35fc;
}

/* Dark */
.pokemon-details-container--dark {
  background-color: #705746;
}

/* Steel */
.pokemon-details-container--steel {
  background-color: #b7b7ce;
}

/* Fairy */
.pokemon-details-container--fairy {
  background-color: #d685ad;
}

/* Normal */
.pokemon-details-type--normal {
  background-color: #a8a77a;
}

/* Fire */
.pokemon-details-type--fire {
  background-color: #ee8130;
}

/* Water */
.pokemon-details-type--water {
  background-color: #6390f0;
}

/* Electric */
.pokemon-details-type--electric {
  background-color: #f7d02c;
  color: #333;
}

/* Grass */
.pokemon-details-type--grass {
  background-color: #7ac74c;
}

/* Ice */
.pokemon-details-type--ice {
  background-color: #96d9d6;
  color: #333;
}

/* Fighting */
.pokemon-details-type--fighting {
  background-color: #c22e28;
}

/* Poison */
.pokemon-details-type--poison {
  background-color: #a33ea1;
}

/* Ground */
.pokemon-details-type--ground {
  background-color: #e2bf65;
  color: #333;
}

/* Flying */
.pokemon-details-type--flying {
  background-color: #a98ff3;
}

/* Psychic */
.pokemon-details-type--psychic {
  background-color: #f95587;
}

/* Bug */
.pokemon-details-type--bug {
  background-color: #a6b91a;
}

/* Rock */
.pokemon-details-type--rock {
  background-color: #b6a136;
}

/* Ghost */
.pokemon-details-type--ghost {
  background-color: #735797;
}

/* Dragon */
.pokemon-details-type--dragon {
  background-color: #6f35fc;
}

/* Dark */
.pokemon-details-type--dark {
  background-color: #705746;
}

/* Steel */
.pokemon-details-type--steel {
  background-color: #b7b7ce;
  color: #333;
}

/* Fairy */
.pokemon-details-type--fairy {
  background-color: #d685ad;
}
