.pokemon-selection-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.pokemon-selection-group {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-bottom: 6vh;
}

.pokedex-selection-header {
   display: flex;
   justify-content: center;
   padding-top: 20px;

}

.pokemon-selection-box {
    width: 250px;
    height: 250px;
    animation: clickBackground 0.8s ease forwards;
}

@keyframes clickBackground {

  from
  {
     transform: translateY(100px);
     opacity: 0;
  }
  to
  {
     transform: translateY(0px);
     opacity: 1;
  }

}

.pokemon-selection-sprite {
    overflow: hidden;
    object-fit: contain;
    width: 300px;
    height: auto;
    animation: rock 2s ease-in-out infinite alternate;
}

@keyframes rock {
    from {
        transform: rotate(15deg);
    }
    to {
        transform: rotate(-15deg);
    }
}

.pokemon-selection-box:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: drop-shadow(0 6px 15px black);
}


.inner
{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.pokemon-selection-box.flipped .inner
{
  transform: rotateY(180deg);
}

.front,.back
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front img {
    filter: brightness(0.05) contrast(0.2);
    opacity: 0.2;
    transform: scale(1.1);
}

.back
{
  transform: rotateY(180deg);
}


.button {
  font-weight: bold;
  border: 3px solid red;
  width: auto;
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

